/* *  {
    margin: 0;
    padding: 0;
} */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#p1 {
    display: flex;
    justify-content: center;
    background-color: rgb(4, 186, 4);
    align-items: center;
    animation: slideIn 2s ease-out;
}

#p2 nav {
    display: flex;
    list-style-type: none;
    justify-content: center;
    background-color: black;
    align-items: center;
}

li {
    color: white;
    padding: 15px 50px;
}

li:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

#p3 {
    display: flex;
    justify-content: space-between;
}

img {
    border: 2px solid black;
    border-radius: 8px;
}

img:hover {
    transform: scale(1.2);
}

aside h3 {
    padding-left: 15px;
    font-size: 25px;
}

#p3 main {
    width: 100px;
    padding: 20px 30px;
}

#p3 aside {
    width: 200px;
    background-color: rgb(238, 238, 238);
    font-family: sans-serif;
    padding-left: 20px; 
}

#p3 aside ul li{
    color: rgb(0, 0, 0);
    padding: 5px;
}

ul {
    padding-left: 50px;
}

#p3 aside ul li {
    background-color: rgb(238, 238, 238);
}

#p4 {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    height: 50px;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


